
    <script src="{% static 'cakehouse/js/validar.js' %}"></script>
  
<div id="datos">
  <form action="Inicio_sesion.html" method="post">
  <form class="row g-3 needs-validation" novalidate>

    <div id="datos_centered">
      <h1>Formulario de registro</h1>
    <div>
      <label for="validationCustom01" class="form-label">Datos Personales</label>
      <input type="text" class="form-control" id="validationCustom01" value="" placeholder="Ingrese Nombre" required>
    </div>
    <br>


    <div>
      
      <input type="text" class="form-control" id="validationCustom02" value="" placeholder="Ingrese Apellido" required>
    </div>
    <br>

    <div>
      
      <input type="text" id="rut" class="form-control" name="rut" required oninput="checkRut(this)" placeholder="Ingrese RUT sin puntos">

    </div>
    <br>


    <div>
      <label for="validationCustom03" class="form-label">Fecha de nacimiento</label>
      <input type="date" class="form-control" id="validationCustom02" required>
      
    </div>
    <br>

    


    <div>
      <label for="validationCustom04" class="form-label">Correo</label>
      <input type="email" class="form-control" id="validationCustom02" value="" placeholder="Ingrese correo electronico" required>
      
    </div>
    <br>


    <div class="input-group mb-3">
      
      <span class="input-group-text" id="basic-addon1">+569</span>
      <input type="text" class="form-control" placeholder="Ingrese Telefono" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <br>



    <div >
      <label for="validationCustom04" class="form-label">Región</label>
      <select class="form-select" id="validationCustom04" required>
        <option selected disabled value="">Seleccionar..</option>
        <option>Metropolitana</option>
        <option>...</option>
      </select>
      
    </div>
    <br>


    <div >
      <label for="validationCustom04" class="form-label">Comuna</label>
      <select class="form-select" id="validationCustom04" required>
        <option selected disabled value="">Seleccionar..</option>
        <option>Cerrillos</option>
        <option>Cerro Navia</option>
        <option>Conchalí</option>
        <option>El Bosque</option>
        <option>Estación Central</option>
        <option>Huechuraba</option>
        <option>Independencia</option>
        <option>La Cisterna</option>
        <option>Santiago</option>
        <option>San Bernardo</option>
        <option>Maipu</option>

      </select>
      
    </div>
    <br>


    <div >
      <label for="validationCustom05" class="form-label">Dirección</label>
      <input type="text" class="form-control" id="validationCustom05" placeholder="Ingrese su dirección" required>
     
    </div>
    <br>

    <div>
      <label for="validationCustom01" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="validationCustom02" value="" placeholder="Ingrese Contraseña" required>
      
    </div>
    <br>



    <div >
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
        <label class="form-check-label" for="invalidCheck">
          Acepto los terminos y condiciones.
        </label>

      </div>
    </div>
    <br>


    <div >
      <button class="btn btn-primary" type="submit">Registrarse</button>
      
      <input class="btn btn-primary" type="reset" value="Limpiar datos">
    </div>

    
    <br>

  </div>
  </form>
  </form>

</div>








    
  
<footer id="footer" class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3 text-muted">&copy; Cake House 2020–2021 Todos los derechos reservados.</small>
    </div>

    <div class="col-6 col-md">
      <h5>Visítenos</h5>
      <ul class="list-unstyled text-small">
        <p>Dirección: Pedro de Valdivia #2056, Ñuñoa. <br>
          Horario de Atención: Lunes a Sábado : 08:30 a 18:00 Hrs. <br>
          Domingos: 08:30 a 14:00 Hrs.</p>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Síguenos</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Instagram</a></li>
        <li><a class="link-secondary" href="#">Facebook</a></li>
        <li><a class="link-secondary" href="#">Twitter</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Contactenos</h5>
      <ul class="list-unstyled text-small">
        <p>Telefóno: +56258996354 <br>
          Horario de Atención de Lunes a Domingo : 08:00 a 19:00</p>
      </ul>
    </div>
  </div>
</footer>
  
  
  
  
  


  
  </body>

